body div {
  /* margin-top: 50px;  */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#Happy {
  background: url("./components/assets/backgrounds/happy-background.png");
  height: 100vh;
  width: auto;
  margin-top: 0px;
}

#Sad {
  background: url("./components/assets/backgrounds/sad-background.png");
  height: 100vh;
  width: auto;
  margin-top: 0px;
}

#Angry {
  background: url("./components/assets/backgrounds/angry-background.png");
  height: 100vh;
  width: auto;
  margin-top: 0px;
}

#Scared {
  background: url("./components/assets/backgrounds/scared-background.png");
  height: 100vh;
  width: auto;
  margin-top: 0px;
}
